<%- include("partials/_header.ejs") %>
<%- include("partials/nav.ejs") %>

<section id="new-book-page">
<% if(locals.book){ %>
<form action="/books/book" method="POST">
   <input type="hidden" name="book_info" value="<%= encodeURIComponent(JSON.stringify(book)) %>">

   <div class="wrapper">
      <div class="book-full-view">
         <div>
            <img src="<%= "https://covers.openlibrary.org/b/id/" + book.cover_i + "-L.jpg" %>" alt="Book cover: <%= book.title %>">
         </div>
         <div class="details">
            <p class="title"><%= book.title %></p>
            <p class="author">By: <%= book.author_name %></p>
            <p class="year">Year: <%= book.first_publish_year %></p>

            <p class="rating">
               Rating: <input required type="number" min="0" max="10" step="0.01" name="rating" placeholder="/10">
            </p>
            <textarea required name="review" placeholder="Write Something" oninput="this.style.height='auto';this.style.height=this.scrollHeight + 'px'"></textarea>
         </div>
      </div>

      <input type="submit" id="submit" hidden>
      <label for="submit" class="btn submit">Submit</label>
      <a href="/books" draggable="false" class="btn cancel">Cancel</a>
   </div>
</form>
<% } %>
</section>

<%- include("partials/_footer.ejs") %>

<script>
   $(".btn.cancel").on("click", function(){
      window.history.back();
   });
</script>