<%- include("partials/_header.ejs") %>

<section id="search-page">

   <div class="wrapper">
      <h1 class="info">Search results for: <%= text %></h1>
      <h2 class="info">Filter by: <%= filter %></h2>

      <% if(locals.books){ %>
         <div class="books">
            <% books.forEach(book =>{ %>
               <a class="card" href="/books/new?data=<%= encodeURIComponent(JSON.stringify(book)) %>">
                  <div>
                     <img src="<%= "https://covers.openlibrary.org/b/id/" + book.cover_i + "-L.jpg" %>" alt="Book cover: <%= book.title %>" loading="lazy">
                  </div>
                  <div class="details">
                     <p class="title"><%= book.title %></p>
                     <p class="author">Author: <%= book.author_name ? book.author_name.slice(0, 3) : null %></p>
                     <p class="year">Year: <%= book.first_publish_year %></p>
                  </div>
               </a>
            <% }) %>
         </div>
      <% }else{ %>
         <h2 class="not-found">No results found</h2>
      <% } %>

   </div>
   
</section>

<%- include("partials/_footer.ejs") %>